@media screen and (max-width: 899px) {
    body {
        width: 900px;
    }
}

* {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    font-family: 'Asar', serif;
}

.gameBoard {
    margin-top: 3%;
    height: 375px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

span {
    width: 60px;
    height: 60px;
    line-height: 60px;

    border: 5px dashed white;
    border-radius: 20px;

    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

span:hover {
    border-color: black;
}

h1, h2 {
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-style: italic;
    margin-top: 3%;
}

h3 {
    margin-top: 2%;
    font-size: 30px;
    text-align: center;
}

button {
    margin-top: 2%;
    padding: 10px 0px;

    width: 15%;
    height: 15%;
    font-size: 25px;
    background-color: whitesmoke;
    box-shadow: 4px 4px #999;

    border-radius: 10px;
    display: block;
    text-align: center;
}

button:hover {
    background: rgba(0,0,0,0);
    box-shadow: inset 4px 4px silver;
}

li, p {
    list-style: none;
    width: 600px;
    font-size: 18px;
}

.dice {
    width: 90px;
    height: 90px;
    line-height: 85px;

    border: 4px solid gray;
    border-radius: 10px;  
    text-align: center;
    font-size: 60px;

    transition: transform 1s ease;
    transform-origin: 40% 40%;
}

#firstDice {
    float: left;
    position: fixed;
    left: 50%;
    margin-top: -2em;
    margin-left: -6em;
}

#secondDice {
    float: left;
    position: fixed;
    right: 50%;
    margin-top: -2em;
    margin-right: -6em;
}