* {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

span {
    width: 100px;
    height: 100px;
    border: 5px dotted lightblue;
    border-radius: 15px;
}

.gameBoard {
    margin-top: 3%;
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

span:hover {
    border: 5px solid black;
}

p {
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15px;
}

h1 {
    font-style: italic;
    margin-top: 3%;
}

h1, h2 {
    font-size: 50px;
    text-align: center;
}

h3 {
    margin-top: 1%;
    font-size: 30px;
    text-align: center;
}

h1 a {
    color:red;
}