* {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

.gameBoard {
    margin-top: 3%;
    height: 375px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

span {
    width: 60px;
    height: 60px;
    line-height: 60px;

    border: 5px dashed white;
    border-radius: 20px;

    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

span:hover {
    border-color: black;
}

h1 {
    font-style: italic;
    margin-top: 3%;
}

h1, h2 {
    font-size: 50px;
    text-align: center;
}

h3 {
    margin-top: 1%;
    font-size: 30px;
    text-align: center;
}